html, body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #0f0f1a;
    color: #e5e7eb;
    font-size: 1.1vw;
}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-bottom: 5vw;
    margin-top: 2.5vw;
}

.profissao {
    margin-top: 0.01vw; 

}

h1 {
 color: #8b5cf6;
 text-shadow: 0 0 10px #8b5cf6;
}

h2 {
 color: #8b5cf6;
}

.tudoresto {
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resumopro {
    background: none;
    border: solid 2px #e5e7eb;
    border-radius: 10px;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    box-shadow: 0 0 10px #8b5cf6;
}

.resumopro h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulohabi {
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5vw;
}

.habilidades {
    flex-wrap: wrap;
    gap: 2vw;
    background: none;
    border: solid 2px #e5e7eb;
    border-radius: 10px;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    box-shadow: 0 0 10px #8b5cf6;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

button {
    background: none;
    border: none;
    color: #e5e7eb; 
    font-size: 1vw;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;   
    align-items: center;
}

button img {
    width: 80px;
    height: 80px;
}

.rodape {
    border-top: solid 2px  #8b5cf6;
}

.rodape p {
text-align: center;

}

.git {
    margin-right: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;      
    flex-wrap: wrap;
    list-style: none; 
}


  
